link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/sale-control.css')
link(rel='icon', type='img/png' href='/favicon.png')
script(src='/jquery/dist/jquery.min.js')
script(src='/underscore/underscore-min.js')
script(src='/moment/moment.js')
script(src='/bootstrap/dist/js/bootstrap.js')
script(src='/vue/dist/vue.min.js')
script(src='/javascripts/index.js')
script(src='/javascripts/sale-control.js')
script(src='/javascripts/yzs.js')
